<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'index'%}">Ahmet Ozkan Blog</a>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'about'%}">Hakkımızda</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'article:articles'%}">Makaleler</a>
        </li>
        
      </ul>

          

      <!-- Kullanicinin Giris Yapilip Yapilmadigina gore navbarda Giris veya Cikis Butonu Gosteriyoruz -->
        <ul class="navbar-nav ml-auto">
         {% if request.user.is_authenticated %}<!-- kullanici giris yapmissa bu bloga girer -->
           <li class="nav-item active">

                <a class="btn btn-success" href="">{{request.user.username}}</a>
            </li>
           
           <li class="nav-item active">
          <a class="nav-link" href="{% url 'article:dashboard'%}">Kontrol Paneli</a>
         </li>
            
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'user:logout'%}">Cikis Yap</a>
            </li>
            
        {% else %}
         
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:login'%}">Giris Yap</a>
         </li>
         
        {% endif %}

        <li class="nav-item active">
            <a class="nav-link" href="/user/register">Kayit Ol</a>
        </li>
      
      </ul> 

</nav>