{% extends "layout.html" %}

{% block body %}
  <h3>Hakkımızda</h3>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti beatae eum praesentium aut illum odio, aliquam reiciendis hic adipisci consectetur sit quaerat ratione delectus rerum, cupiditate esse cumque quibusdam alias assumenda doloribus dolorum numquam necessitatibus? Neque distinctio quos corporis assumenda ratione, nam accusantium illo perspiciatis incidunt voluptate facilis aperiam odio impedit, blanditiis dolor mollitia sint reprehenderit adipisci beatae excepturi vel velit officia. Fuga laudantium veritatis dignissimos culpa corrupti reprehenderit, accusantium harum assumenda modi ullam minima eos, itaque ad unde quos? Eaque rem, error, expedita quidem explicabo dolores quaerat odio laboriosam nemo praesentium, atque et quam voluptate dignissimos labore voluptates numquam?
  </p>
{% endblock body %}